.menu li{margin:10px 0 10px 0}

p{font-family:AngsanaUPC;font-size:25px; text-indent:30px}

.main{background-color:rgb(218, 218, 218);margin-left:250px; margin-top:5px; padding:15px; border-radius:5px;font-family:AngsanaUPC;font-size:22px;}
.main h1{text-align:center; font-family:AngsanaUPC}
.main h2{text-align:center}

.header{border-bottom:1px solid grey}
.header img{float:right;height:161px}
.main-menu{float:left;width:250px}

body, .thai-font {font-family:AngsanaUPC}
.english-font {font-family:Helvetica}

table td {padding:2px 10px; border:0px solid grey; font-size:25px}

.pictures p {text-indent:0; font-size: 25px}
.pictures img{width:400px}
.otherplace img{width:400px}
